{{#> main}}
{{#*inline "main"}}

<div class="uk-margin-bottom" data-uk-scrollspy="target: h2; cls: uk-animation-slide-left;delay:500">
	{{#> ukContainer size="large"}}
		{{#*inline "out"}}
			<h2 class="uk-text-uppercase">Why not catch birds?</h2>
		{{/inline}}
	{{/ukContainer}}
</div>

{{#> ukSection  id="bird-hunting-about" size="xsmall"}}
	{{#*inline "out"}}
		<div data-uk-scrollspy="target: >p; cls: uk-animation-fade;delay:150">

			<p class="uk-text-lead">Scotland’s islands are rich in habitats, on holms, cliffs, and beaches. People relied on seabirds’ meat and eggs for food to extend their limited resources. Varied geography meant some districts harvested birds and eggs that other places did not.</p>

			<p>People ate the meat and eggs and used feathers for bedding and fishing lures. At Pabbay, near Harris, puddings made from seafowl fat were towed behind a boat’s stern so the oily surface quelled breaking water. Bird fat was used as a wound dressing for people or livestock, and North Rona people paid rent with smoked wildfowl.</p>

			<p>St Kilda was famed for birds, and people relied on them as others did on fish. Islanders made bait from puffins and lamp oil from fulmars. They made sewing thread from feathers, and shoes from gannets.</p>

		</div>
	{{/inline}}
{{/ukSection}}


{{#> ukSection id="bird-hunting-posts" size="large" class="cards-images"}}
	{{#*inline "out"}}
		<div data-uk-scrollspy="target: .uk-card; cls: uk-animation-fade;delay:150">

			{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-bottom" dataUkGrid="masonry: true"}}
				{{#*inline "cells"}}

				{{#each page.posts}}
					{{#with this}}
						<div>
							{{> card type="post"}}
						</div>
					{{/with}}
				{{/each}}

				{{/inline}}
			{{/ukGrid}}

		</div>
	{{/inline}}
{{/ukSection}}

<div class="horizontal-container">
	{{#> ukContainer size="xsmall"}}
		{{#*inline "out"}}
			<h2 class="uk-text-uppercase line horizontal-title" data-uk-scrollspy="cls: line-draw-animation;" data-uk-sticky="media: @l">Old Stories</h2>
			<h2 class="uk-text-uppercase line horizontal-title" data-uk-scrollspy="cls: line-draw-animation;">Old Stories</h2>
		{{/inline}}
	{{/ukContainer}}

	<span id="sticky-stop" class="horizontal-stop" role="presentation"></span>

	<div class="uk-position-relative uk-width-1-1 horizontal-holder">

		<div class="horizontal-sticky">
			<div class="horizontal-inner">
				<div class="horizontal-cards">

					{{#each page.quotes}}
						{{#with this}}
							<div>
								{{> card type="post"}}
							</div>
						{{/with}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	{{#> ukContainer size="large"}}
		{{#*inline "out"}}
			<div class="uk-flex uk-flex-center">
				<svg width="1030" height="455" viewBox="0 0 1030 455" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="" id="egg-hunting-icon">
					<path d="M356.45 35C357.05 36.3 375.95 76 375.95 76" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_0"></path>
					<path d="M408.95 145.4L441.35 213.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_1"></path>
					<path d="M400.95 297.8H527.35" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_2"></path>
					<path d="M371.85 179L400.15 238.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_3"></path>
					<path d="M157.45 55.5L196.75 138.2" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_4"></path>
					<path d="M364.35 163.2L337.55 106.8" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_5"></path>
					<path d="M395.55 339.8L328.35 190" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_6"></path>
					<path d="M298.95 129.2L268.45 65.2002" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_7"></path>
					<path d="M285.45 332.7L238.05 232.9" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_8"></path>
					<path d="M423.55 284.1L407.65 250.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_9"></path>
					<path d="M293.65 179H350.95" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_10"></path>
					<path d="M366.95 125.8H424.25" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_11"></path>
					<path d="M148.45 145.4L180.95 213.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_12"></path>
					<path d="M111.45 179L139.65 238.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_13"></path>
					<path d="M135.15 339.8L84.6499 227.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_14"></path>
					<path d="M125.55 278.3H182.85" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_15"></path>
					<path d="M173.95 160.4H231.25" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_16"></path>
					<path d="M414.25 332.7H672.75" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_17"></path>
					<path d="M696.95 332.7H954.05" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_18"></path>
					<path d="M200.15 225H257.45" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_19"></path>
					<path d="M234.75 222.701C234.05 222.801 233.45 222.801 232.75 222.801C229.45 222.801 226.35 221.801 224.35 219.601" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_20"></path>
					<path d="M222.65 203.2C224.55 197.3 228.35 192.2 232.65 192.2C236.85 192.2 240.45 196.8 242.45 202.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_21"></path>
					<path d="M223.05 203.8C219.25 198 212.95 192.9 208.35 194.5C202.45 196.6 201.05 208 203.95 215.9C206.75 223.9 212.75 225.5 218.55 223.4C220.85 222.6 222.65 221.5 224.05 219.8L224.45 219.2C226.55 216.6 226.95 213.2 225.25 208.4C224.65 206.6 224.45 206 223.35 204.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_22"></path>
					<path d="M242.15 202.4H242.95C251.45 202.6 261.55 207.9 261.45 214.1C261.35 220.3 250.95 225.2 242.45 225C239.15 224.9 236.75 224.2 234.95 222.9L234.45 222.5C231.55 220.4 230.65 217.2 230.75 213.4C230.85 207.2 233.25 202.3 241.45 202.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_23"></path>
					<path d="M494.45 267.4H437.15" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_24"></path>
					<path d="M459.85 265.1C460.55 265.2 461.15 265.2 461.85 265.2C465.15 265.2 468.25 264.2 470.25 262C469.15 263 476.15 259.1 471.85 245.5C469.95 239.6 466.15 234.5 461.85 234.5C457.65 234.5 454.05 239.1 452.05 244.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_25"></path>
					<path d="M452.45 244.8H451.65C443.15 245 433.05 250.3 433.15 256.5C433.25 262.8 443.65 267.6 452.15 267.4C455.45 267.3 457.85 266.6 459.65 265.3L460.15 264.9C463.05 262.8 463.95 259.6 463.85 255.8C463.75 249.6 461.35 244.7 453.15 244.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_26"></path>
					<path d="M338.651 301H281.351" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_27"></path>
					<path d="M304.05 298.7C304.75 298.8 305.35 298.8 306.05 298.8C309.35 298.8 312.45 297.8 314.45 295.6" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_28"></path>
					<path d="M316.051 279.1C314.151 273.2 310.351 268.1 306.051 268.1C301.851 268.1 298.25 272.7 296.25 278.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_29"></path>
					<path d="M315.65 279.8C319.45 274 325.75 268.9 330.35 270.5C336.25 272.6 337.65 284 334.75 291.9C331.95 299.9 325.95 301.5 320.15 299.4C317.85 298.6 316.05 297.5 314.65 295.8L314.25 295.2C312.15 292.6 311.75 289.2 313.45 284.4C314.05 282.6 314.25 282 315.35 280.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_30"></path>
					<path d="M296.65 278.299H295.85C287.35 278.499 277.25 283.799 277.35 289.999C277.45 296.199 287.85 301.099 296.35 300.899C299.65 300.799 302.05 300.099 303.85 298.799L304.35 298.399C307.25 296.299 308.15 293.099 308.05 289.299C307.95 283.099 305.55 278.199 297.35 278.199" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_31"></path>
					<path d="M308.05 263.3L226.45 81.4004" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_32"></path>
					<path d="M344.15 342L332.85 316.9" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_33"></path>
					<path d="M229.95 325.4L205.15 270.2" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_34"></path>
					<path d="M294.15 367.199C289.55 367.199 287.65 368.699 282.55 382.199L272.25 410.499H271.35L260.95 382.599L251.45 410.499H250.55L235.75 372.099C233.95 367.599 231.85 367.199 229.75 367.199V366.399H246.65V367.199C241.15 367.199 242.75 372.199 242.85 372.599L253.65 401.899L260.55 381.399L257.25 372.099C255.45 367.599 253.35 367.199 251.25 367.199V366.399H268.15V367.199C262.55 367.199 264.25 372.199 264.35 372.599L274.65 402.099L281.75 381.999C283.55 375.999 287.05 367.199 278.25 367.199V366.399H294.15" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_35"></path>
					<path d="M357.45 367.199C354.55 367.799 354.35 368.999 354.35 375.099V401.999C354.35 407.099 354.15 408.799 357.45 409.699V410.499H346.35V409.699C348.05 409.099 348.15 407.599 348.15 401.999V389.899H330.95V401.999C330.95 408.399 331.05 409.099 332.75 409.699V410.499H321.55V409.699C324.85 408.799 324.65 407.999 324.65 401.999V375.099C324.65 369.499 324.55 367.799 321.55 367.199V366.399H332.75V367.199C330.95 367.799 330.95 368.999 330.95 375.099V388.799H348.15V375.099C348.15 368.999 348.05 367.799 346.35 367.199V366.399H357.45" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_36"></path>
					<path d="M425.55 367.199C422.85 367.199 419.55 367.199 412.65 380.999L407.85 390.799V403.499C407.85 408.599 409.95 409.699 412.55 409.699V410.499H397.35V409.699C399.95 409.699 402.05 408.599 402.05 403.499V392.499C392.85 376.199 390.25 372.099 390.25 372.099C387.45 367.299 385.75 367.299 383.65 367.199V366.399H399.75V367.199C397.95 367.199 394.05 367.099 398.35 374.299L407.55 389.899L412.35 380.099C414.45 375.799 417.95 367.199 409.55 367.199V366.399H425.65" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_37"></path>
					<path d="M495.75 395.6C496.45 403.2 499.25 410.3 509.95 410.3C519.45 410.3 520.75 399.7 513.35 394.5L502.95 387.8C496.95 383.8 491.25 378.1 496.15 370.7C496.15 370.7 499.25 365.8 507.95 365.8C517.05 365.8 522.35 368.7 522.35 368.7V379.2H521.45C520.85 373.1 518.45 366.5 507.95 366.5C501.15 366.5 496.05 375.2 505.55 381.4L515.85 388.2C524.25 393.7 525.65 400.7 522.35 405.8C522.35 405.8 519.65 410.9 509.95 410.9C499.75 410.9 495.05 407.4 495.05 407.4V395.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_38"></path>
					<path d="M591.55 377.399C591.25 367.299 580.85 367.199 579.95 367.199H576.25V404.399C576.25 408.499 578.15 409.699 580.85 409.699V410.499H565.55V409.699C568.15 409.699 570.05 408.599 570.05 404.399V367.199H566.35C564.45 367.199 555.05 367.299 554.85 377.399H554.05V366.399H592.35V377.399" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_39"></path>
					<path d="M641.25 410.299C648.15 409.899 653.25 405.199 653.25 388.799C653.25 371.599 647.55 366.699 640.15 366.699C632.65 366.699 626.95 371.699 626.95 388.799C626.95 405.999 632.65 410.299 640.15 410.299M640.15 411.099C626.35 411.099 619.75 401.299 619.75 388.799C619.75 376.399 626.35 365.899 640.15 365.899C653.95 365.899 660.55 376.399 660.55 388.799C660.55 400.899 654.35 410.499 641.55 411.099H640.15Z" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_40"></path>
					<path d="M702.05 390.899C709.75 390.899 715.95 390.699 715.95 379.099C715.95 367.199 709.35 367.299 702.05 367.299H700.95V390.899M690.65 366.399H701.95C714.45 366.399 722.75 367.899 722.75 379.099C722.75 390.199 714.45 391.699 701.95 391.699H700.85V401.999C700.85 409.499 703.15 409.799 707.05 409.799V410.599H690.45V409.799C693.55 409.799 694.55 408.199 694.55 402.199V373.199C694.55 368.899 693.65 367.299 690.55 367.299L690.65 366.399Z" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_41"></path>
					<path d="M765.45 397.9C765.05 395.5 764.65 391.4 768.75 388.1C771.55 385.7 774.55 383 773.85 375.6C773.05 366.1 765.65 364.8 760.35 366.9C757.75 367.9 757.95 369.7 758.75 369.8C759.65 369.9 760.25 370.4 760.85 371.1C761.85 372.6 761.45 374.7 760.05 375.7C758.65 376.7 756.45 376.3 755.45 374.8C754.65 373.7 754.85 372.5 755.15 371.4C755.45 370.1 756.95 367.4 759.95 366.1C769.95 361.6 780.25 366 780.75 375.3C781.15 384.4 774.75 388.2 771.25 389.6C768.05 390.9 766.65 393.9 766.95 397.7L765.45 397.9ZM766.65 410.9C764.45 410.9 762.65 409.1 762.65 406.9C762.65 404.7 764.45 403 766.65 403C768.85 403 770.65 404.8 770.65 406.9C770.65 409.1 768.85 410.9 766.65 410.9Z" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_42"></path>
					<path d="M560.85 180.5C569.55 176.7 796.15 164.9 796.15 164.9C796.15 164.9 800.65 173 791.95 174.4C789.65 174.8 751.65 314.8 748.35 321C744.95 327.2 738.85 328.5 738.85 328.5C738.85 328.5 632.45 329.3 624.35 329.3C616.25 329.4 613.05 322.2 613.05 322.2C613.05 322.2 564.25 195 564.85 186.2" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_43"></path>
					<path d="M786.35 157.6L778.15 181.9C778.15 181.9 736.55 315.3 734.05 321.5C731.55 327.7 620.65 320.4 616.95 321.8C613.35 323.2 569.95 187.9 569.95 187.9V185.2C571.75 184.8 788.35 173.8 787.15 175.4C785.85 177.1 742.05 321.5 742.05 321.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_44"></path>
					<path d="M772.15 158.3L722.25 329C722.25 329 723.65 331.7 725.55 329C727.45 326.3 778.45 158.1 778.45 158.1" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_45"></path>
					<path d="M747.75 159.6L713.35 329H717.25L752.65 159.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_46"></path>
					<path d="M727.25 160.6L705.45 329H709.25L731.35 160.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_47"></path>
					<path d="M705.25 161.7L697.25 329H700.15L709.75 161.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_48"></path>
					<path d="M684.95 162.7L689.75 329H692.35L688.05 162.6" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_49"></path>
					<path d="M661.15 163.9L681.65 329H684.35L664.85 163.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_50"></path>
					<path d="M638.95 165.3L672.55 329H677.45L642.85 164.8" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_51"></path>
					<path d="M615.65 166.5L663.55 329H668.05C668.05 329 618.55 167 620.05 166.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_52"></path>
					<path d="M596.45 167.4L655.45 329H658.75L600.35 167.2" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_53"></path>
					<path d="M587.05 167.9L641.35 329H645.15L590.05 167.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_54"></path>
					<path d="M575.55 168.5L627.45 329H631.85L578.85 168.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_55"></path>
					<path d="M570.55 176.1C570.35 170.4 572.05 164.7 575.75 163.2C579.75 161.5 585.25 165.8 588.55 170.9L588.85 171.4C589.85 172.9 589.95 173.4 590.45 175V175.1" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_56"></path>
					<path d="M596.05 174.9C597.05 171.9 599.05 169.7 603.05 169" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_57"></path>
					<path d="M588.25 170.299C589.95 164.899 593.35 160.199 597.15 159.999C600.85 159.799 604.05 163.799 605.85 168.799H606.25C611.45 168.699 617.35 170.599 620.55 173.799" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_58"></path>
					<path d="M622.85 173.599C622.55 167.799 624.25 162.099 628.05 160.499C632.15 158.799 637.95 163.199 641.45 168.299L641.75 168.799C642.75 170.299 642.85 170.799 643.45 172.399V172.499" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_59"></path>
					<path d="M649.25 172.3C650.15 169.3 652.35 167 656.45 166.3" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_60"></path>
					<path d="M641.05 167.7C642.75 162.2 646.15 157.4 650.15 157.2C653.95 157 657.35 161 659.25 166.1H659.65C665.05 165.9 671.15 168 674.55 171.1" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_61"></path>
					<path d="M676.95 171C676.55 165.1 678.25 159.3 682.15 157.7C686.35 156 692.45 160.4 696.05 165.6L696.45 166.1C697.55 167.6 697.65 168.1 698.35 169.8C698.35 169.8 698.35 169.9 698.45 169.9" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_62"></path>
					<path d="M704.15 169.7C705.05 166.6 707.25 164.3 711.55 163.6" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_63"></path>
					<path d="M695.75 165C697.45 159.4 700.85 154.5 705.05 154.3C709.05 154.1 712.55 158.2 714.55 163.3H714.95C720.45 163.1 726.95 165.2 730.45 168.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_64"></path>
					<path d="M732.85 168.3C732.35 162.3 734.05 156.4 738.05 154.8C742.45 153.1 748.75 157.5 752.55 162.8L752.95 163.4C754.05 165 754.25 165.5 754.95 167.1C754.95 167.1 754.95 167.2 755.05 167.2" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_65"></path>
					<path d="M760.95 167C761.85 163.9 764.05 161.5 768.45 160.8" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_66"></path>
					<path d="M752.15 162.2C753.75 156.5 757.35 151.6 761.55 151.3C765.65 151.1 769.45 155.3 771.55 160.5H771.95C777.65 160.3 784.35 162.4 788.05 165.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_67"></path>
					<path d="M592.15 255.6C592.15 255.6 646.65 257.3 681.55 256.3C717.25 255.2 762.45 254.5 762.45 254.5" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_68"></path>
					<path d="M604.05 290.2C604.05 290.2 662.25 294.1 683.75 293.7C705.55 293.3 751.45 290.7 751.45 290.7" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_69"></path>
					<path d="M580.95 221.7C580.95 221.7 639.45 228.1 682.55 224.2C726.75 220.2 773.55 218.4 773.55 218.4" stroke="#054565" stroke-width="0.75" stroke-miterlimit="10" class="xUVUHJsD_70"></path>
					<style data-made-with="vivus-instant">.xUVUHJsD_0{stroke-dasharray:46 48;stroke-dashoffset:47;}.egg-hunting-icon .xUVUHJsD_0{animation:xUVUHJsD_draw 1333ms linear 0ms forwards;}.xUVUHJsD_1{stroke-dasharray:76 78;stroke-dashoffset:77;}.egg-hunting-icon .xUVUHJsD_1{animation:xUVUHJsD_draw 1333ms linear 9ms forwards;}.xUVUHJsD_2{stroke-dasharray:127 129;stroke-dashoffset:128;}.egg-hunting-icon .xUVUHJsD_2{animation:xUVUHJsD_draw 1333ms linear 19ms forwards;}.xUVUHJsD_3{stroke-dasharray:66 68;stroke-dashoffset:67;}.egg-hunting-icon .xUVUHJsD_3{animation:xUVUHJsD_draw 1333ms linear 28ms forwards;}.xUVUHJsD_4{stroke-dasharray:92 94;stroke-dashoffset:93;}.egg-hunting-icon .xUVUHJsD_4{animation:xUVUHJsD_draw 1333ms linear 38ms forwards;}.xUVUHJsD_5{stroke-dasharray:63 65;stroke-dashoffset:64;}.egg-hunting-icon .xUVUHJsD_5{animation:xUVUHJsD_draw 1333ms linear 47ms forwards;}.xUVUHJsD_6{stroke-dasharray:165 167;stroke-dashoffset:166;}.egg-hunting-icon .xUVUHJsD_6{animation:xUVUHJsD_draw 1333ms linear 57ms forwards;}.xUVUHJsD_7{stroke-dasharray:71 73;stroke-dashoffset:72;}.egg-hunting-icon .xUVUHJsD_7{animation:xUVUHJsD_draw 1333ms linear 66ms forwards;}.xUVUHJsD_8{stroke-dasharray:111 113;stroke-dashoffset:112;}.egg-hunting-icon .xUVUHJsD_8{animation:xUVUHJsD_draw 1333ms linear 76ms forwards;}.xUVUHJsD_9{stroke-dasharray:37 39;stroke-dashoffset:38;}.egg-hunting-icon .xUVUHJsD_9{animation:xUVUHJsD_draw 1333ms linear 85ms forwards;}.xUVUHJsD_10{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_10{animation:xUVUHJsD_draw 1333ms linear 95ms forwards;}.xUVUHJsD_11{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_11{animation:xUVUHJsD_draw 1333ms linear 104ms forwards;}.xUVUHJsD_12{stroke-dasharray:76 78;stroke-dashoffset:77;}.egg-hunting-icon .xUVUHJsD_12{animation:xUVUHJsD_draw 1333ms linear 114ms forwards;}.xUVUHJsD_13{stroke-dasharray:66 68;stroke-dashoffset:67;}.egg-hunting-icon .xUVUHJsD_13{animation:xUVUHJsD_draw 1333ms linear 123ms forwards;}.xUVUHJsD_14{stroke-dasharray:124 126;stroke-dashoffset:125;}.egg-hunting-icon .xUVUHJsD_14{animation:xUVUHJsD_draw 1333ms linear 133ms forwards;}.xUVUHJsD_15{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_15{animation:xUVUHJsD_draw 1333ms linear 142ms forwards;}.xUVUHJsD_16{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_16{animation:xUVUHJsD_draw 1333ms linear 152ms forwards;}.xUVUHJsD_17{stroke-dasharray:259 261;stroke-dashoffset:260;}.egg-hunting-icon .xUVUHJsD_17{animation:xUVUHJsD_draw 1333ms linear 161ms forwards;}.xUVUHJsD_18{stroke-dasharray:258 260;stroke-dashoffset:259;}.egg-hunting-icon .xUVUHJsD_18{animation:xUVUHJsD_draw 1333ms linear 171ms forwards;}.xUVUHJsD_19{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_19{animation:xUVUHJsD_draw 1333ms linear 180ms forwards;}.xUVUHJsD_20{stroke-dasharray:12 14;stroke-dashoffset:13;}.egg-hunting-icon .xUVUHJsD_20{animation:xUVUHJsD_draw 1333ms linear 190ms forwards;}.xUVUHJsD_21{stroke-dasharray:31 33;stroke-dashoffset:32;}.egg-hunting-icon .xUVUHJsD_21{animation:xUVUHJsD_draw 1333ms linear 200ms forwards;}.xUVUHJsD_22{stroke-dasharray:84 86;stroke-dashoffset:85;}.egg-hunting-icon .xUVUHJsD_22{animation:xUVUHJsD_draw 1333ms linear 209ms forwards;}.xUVUHJsD_23{stroke-dasharray:85 87;stroke-dashoffset:86;}.egg-hunting-icon .xUVUHJsD_23{animation:xUVUHJsD_draw 1333ms linear 219ms forwards;}.xUVUHJsD_24{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_24{animation:xUVUHJsD_draw 1333ms linear 228ms forwards;}.xUVUHJsD_25{stroke-dasharray:60 62;stroke-dashoffset:61;}.egg-hunting-icon .xUVUHJsD_25{animation:xUVUHJsD_draw 1333ms linear 238ms forwards;}.xUVUHJsD_26{stroke-dasharray:85 87;stroke-dashoffset:86;}.egg-hunting-icon .xUVUHJsD_26{animation:xUVUHJsD_draw 1333ms linear 247ms forwards;}.xUVUHJsD_27{stroke-dasharray:58 60;stroke-dashoffset:59;}.egg-hunting-icon .xUVUHJsD_27{animation:xUVUHJsD_draw 1333ms linear 257ms forwards;}.xUVUHJsD_28{stroke-dasharray:12 14;stroke-dashoffset:13;}.egg-hunting-icon .xUVUHJsD_28{animation:xUVUHJsD_draw 1333ms linear 266ms forwards;}.xUVUHJsD_29{stroke-dasharray:31 33;stroke-dashoffset:32;}.egg-hunting-icon .xUVUHJsD_29{animation:xUVUHJsD_draw 1333ms linear 276ms forwards;}.xUVUHJsD_30{stroke-dasharray:84 86;stroke-dashoffset:85;}.egg-hunting-icon .xUVUHJsD_30{animation:xUVUHJsD_draw 1333ms linear 285ms forwards;}.xUVUHJsD_31{stroke-dasharray:85 87;stroke-dashoffset:86;}.egg-hunting-icon .xUVUHJsD_31{animation:xUVUHJsD_draw 1333ms linear 295ms forwards;}.xUVUHJsD_32{stroke-dasharray:200 202;stroke-dashoffset:201;}.egg-hunting-icon .xUVUHJsD_32{animation:xUVUHJsD_draw 1333ms linear 304ms forwards;}.xUVUHJsD_33{stroke-dasharray:28 30;stroke-dashoffset:29;}.egg-hunting-icon .xUVUHJsD_33{animation:xUVUHJsD_draw 1333ms linear 314ms forwards;}.xUVUHJsD_34{stroke-dasharray:61 63;stroke-dashoffset:62;}.egg-hunting-icon .xUVUHJsD_34{animation:xUVUHJsD_draw 1333ms linear 323ms forwards;}.xUVUHJsD_35{stroke-dasharray:374 376;stroke-dashoffset:375;}.egg-hunting-icon .xUVUHJsD_35{animation:xUVUHJsD_draw 1333ms linear 333ms forwards;}.xUVUHJsD_36{stroke-dasharray:262 264;stroke-dashoffset:263;}.egg-hunting-icon .xUVUHJsD_36{animation:xUVUHJsD_draw 1333ms linear 342ms forwards;}.xUVUHJsD_37{stroke-dasharray:212 214;stroke-dashoffset:213;}.egg-hunting-icon .xUVUHJsD_37{animation:xUVUHJsD_draw 1333ms linear 352ms forwards;}.xUVUHJsD_38{stroke-dasharray:236 238;stroke-dashoffset:237;}.egg-hunting-icon .xUVUHJsD_38{animation:xUVUHJsD_draw 1333ms linear 361ms forwards;}.xUVUHJsD_39{stroke-dasharray:211 213;stroke-dashoffset:212;}.egg-hunting-icon .xUVUHJsD_39{animation:xUVUHJsD_draw 1333ms linear 371ms forwards;}.xUVUHJsD_40{stroke-dasharray:252 254;stroke-dashoffset:253;}.egg-hunting-icon .xUVUHJsD_40{animation:xUVUHJsD_draw 1333ms linear 380ms forwards;}.xUVUHJsD_41{stroke-dasharray:226 228;stroke-dashoffset:227;}.egg-hunting-icon .xUVUHJsD_41{animation:xUVUHJsD_draw 1333ms linear 390ms forwards;}.xUVUHJsD_42{stroke-dasharray:155 157;stroke-dashoffset:156;}.egg-hunting-icon .xUVUHJsD_42{animation:xUVUHJsD_draw 1333ms linear 400ms forwards;}.xUVUHJsD_43{stroke-dasharray:688 690;stroke-dashoffset:689;}.egg-hunting-icon .xUVUHJsD_43{animation:xUVUHJsD_draw 1333ms linear 409ms forwards;}.xUVUHJsD_44{stroke-dasharray:805 807;stroke-dashoffset:806;}.egg-hunting-icon .xUVUHJsD_44{animation:xUVUHJsD_draw 1333ms linear 419ms forwards;}.xUVUHJsD_45{stroke-dasharray:362 364;stroke-dashoffset:363;}.egg-hunting-icon .xUVUHJsD_45{animation:xUVUHJsD_draw 1333ms linear 428ms forwards;}.xUVUHJsD_46{stroke-dasharray:351 353;stroke-dashoffset:352;}.egg-hunting-icon .xUVUHJsD_46{animation:xUVUHJsD_draw 1333ms linear 438ms forwards;}.xUVUHJsD_47{stroke-dasharray:344 346;stroke-dashoffset:345;}.egg-hunting-icon .xUVUHJsD_47{animation:xUVUHJsD_draw 1333ms linear 447ms forwards;}.xUVUHJsD_48{stroke-dasharray:339 341;stroke-dashoffset:340;}.egg-hunting-icon .xUVUHJsD_48{animation:xUVUHJsD_draw 1333ms linear 457ms forwards;}.xUVUHJsD_49{stroke-dasharray:336 338;stroke-dashoffset:337;}.egg-hunting-icon .xUVUHJsD_49{animation:xUVUHJsD_draw 1333ms linear 466ms forwards;}.xUVUHJsD_50{stroke-dasharray:336 338;stroke-dashoffset:337;}.egg-hunting-icon .xUVUHJsD_50{animation:xUVUHJsD_draw 1333ms linear 476ms forwards;}.xUVUHJsD_51{stroke-dasharray:340 342;stroke-dashoffset:341;}.egg-hunting-icon .xUVUHJsD_51{animation:xUVUHJsD_draw 1333ms linear 485ms forwards;}.xUVUHJsD_52{stroke-dasharray:344 346;stroke-dashoffset:345;}.egg-hunting-icon .xUVUHJsD_52{animation:xUVUHJsD_draw 1333ms linear 495ms forwards;}.xUVUHJsD_53{stroke-dasharray:348 350;stroke-dashoffset:349;}.egg-hunting-icon .xUVUHJsD_53{animation:xUVUHJsD_draw 1333ms linear 504ms forwards;}.xUVUHJsD_54{stroke-dasharray:345 347;stroke-dashoffset:346;}.egg-hunting-icon .xUVUHJsD_54{animation:xUVUHJsD_draw 1333ms linear 514ms forwards;}.xUVUHJsD_55{stroke-dasharray:343 345;stroke-dashoffset:344;}.egg-hunting-icon .xUVUHJsD_55{animation:xUVUHJsD_draw 1333ms linear 523ms forwards;}.xUVUHJsD_56{stroke-dasharray:36 38;stroke-dashoffset:37;}.egg-hunting-icon .xUVUHJsD_56{animation:xUVUHJsD_draw 1333ms linear 533ms forwards;}.xUVUHJsD_57{stroke-dasharray:10 12;stroke-dashoffset:11;}.egg-hunting-icon .xUVUHJsD_57{animation:xUVUHJsD_draw 1333ms linear 542ms forwards;}.xUVUHJsD_58{stroke-dasharray:44 46;stroke-dashoffset:45;}.egg-hunting-icon .xUVUHJsD_58{animation:xUVUHJsD_draw 1333ms linear 552ms forwards;}.xUVUHJsD_59{stroke-dasharray:37 39;stroke-dashoffset:38;}.egg-hunting-icon .xUVUHJsD_59{animation:xUVUHJsD_draw 1333ms linear 561ms forwards;}.xUVUHJsD_60{stroke-dasharray:10 12;stroke-dashoffset:11;}.egg-hunting-icon .xUVUHJsD_60{animation:xUVUHJsD_draw 1333ms linear 571ms forwards;}.xUVUHJsD_61{stroke-dasharray:45 47;stroke-dashoffset:46;}.egg-hunting-icon .xUVUHJsD_61{animation:xUVUHJsD_draw 1333ms linear 580ms forwards;}.xUVUHJsD_62{stroke-dasharray:38 40;stroke-dashoffset:39;}.egg-hunting-icon .xUVUHJsD_62{animation:xUVUHJsD_draw 1333ms linear 590ms forwards;}.xUVUHJsD_63{stroke-dasharray:11 13;stroke-dashoffset:12;}.egg-hunting-icon .xUVUHJsD_63{animation:xUVUHJsD_draw 1333ms linear 600ms forwards;}.xUVUHJsD_64{stroke-dasharray:46 48;stroke-dashoffset:47;}.egg-hunting-icon .xUVUHJsD_64{animation:xUVUHJsD_draw 1333ms linear 609ms forwards;}.xUVUHJsD_65{stroke-dasharray:39 41;stroke-dashoffset:40;}.egg-hunting-icon .xUVUHJsD_65{animation:xUVUHJsD_draw 1333ms linear 619ms forwards;}.xUVUHJsD_66{stroke-dasharray:11 13;stroke-dashoffset:12;}.egg-hunting-icon .xUVUHJsD_66{animation:xUVUHJsD_draw 1333ms linear 628ms forwards;}.xUVUHJsD_67{stroke-dasharray:48 50;stroke-dashoffset:49;}.egg-hunting-icon .xUVUHJsD_67{animation:xUVUHJsD_draw 1333ms linear 638ms forwards;}.xUVUHJsD_68{stroke-dasharray:171 173;stroke-dashoffset:172;}.egg-hunting-icon .xUVUHJsD_68{animation:xUVUHJsD_draw 1333ms linear 647ms forwards;}.xUVUHJsD_69{stroke-dasharray:148 150;stroke-dashoffset:149;}.egg-hunting-icon .xUVUHJsD_69{animation:xUVUHJsD_draw 1333ms linear 657ms forwards;}.xUVUHJsD_70{stroke-dasharray:193 195;stroke-dashoffset:194;}.egg-hunting-icon .xUVUHJsD_70{animation:xUVUHJsD_draw 1333ms linear 666ms forwards;}@keyframes xUVUHJsD_draw{100%{stroke-dashoffset:0;}}@keyframes xUVUHJsD_fade{0%{stroke-opacity:1;}93.54838709677419%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>

			</div>
		{{/inline}}
	{{/ukContainer}}
</div>

{{#> ukSection id="bird-hunting-info" size="xsmall"}}
	{{#*inline "out"}}
		<div data-uk-scrollspy="target: >p; cls: uk-animation-fade;delay:150">

			<p class="uk-text-lead">Fowling was in harmony with ecology; it continued for thousands of years, and birds remained plentiful. From around 1800 things became commercialised; visiting naturalists collected species for stuffing, and amongst Orkney exports were pens, down, feathers</p>

			<p>After a century of destruction, laws came to protect birds, especially the Wild Birds Protection Order 1902 and the Protection of Birds Act 1954. Today, overfishing, pollution, and habitat loss are new threats to birds.</p>

			<p>Shetland, Orkney, and Hebridean fowling was dying-out before any legislation. As island culture changed, culture drew nearer to outside society, where eating birds and eggs wasn’t mainstream. Also, prosperity meant folk didn’t need to catch wildfowl. Fowling still continues in Faroe, and islanders consider it more ethical to eat birds that haven’t lived their lives like battery hens.</p>

		</div>
	{{/inline}}
{{/ukSection}}

{{#> ukSection id="bird-hunting-posts-sec" size="large" class="cards-images"}}
	{{#*inline "out"}}
		<div data-uk-scrollspy="target: .uk-card; cls: uk-animation-fade;delay:150">

			{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-bottom" dataUkGrid="masonry: true"}}
				{{#*inline "cells"}}

				{{#each page.postsSecond}}
					{{#with this}}
						<div>
							{{> card type="post"}}
						</div>
					{{/with}}
				{{/each}}

				{{/inline}}
			{{/ukGrid}}
			
		</div>

	{{/inline}}
{{/ukSection}}

{{#> ukSection id="bird-hunting-video" size="small"}}
	{{#*inline "out"}}

		<div class="responsive vm" data-uk-scrollspy="cls: uk-animation-slide-bottom">
			<iframe src="https://player.vimeo.com/video/63655754?dnt=1&app_id=122963" width="1280" height="720" allow="autoplay; fullscreen" allowfullscreen title="Placeholder visual blip"></iframe>
		</div>

	{{/inline}}
{{/ukSection}}

{{#> ukSection id="bird-hunting-exibition" size="small"}}
	{{#*inline "out"}}
	<h2 class="uk-text-large uk-text-uppercase">Go to next Exhibition...</h2>

	{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-margin-bottom"}}
		{{#*inline "cells"}}

		{{#each page.postsStories}}
			{{#with this}}
				<div>
					{{> card type="post"}}
				</div>
			{{/with}}
		{{/each}}

		{{/inline}}
	{{/ukGrid}}

	{{/inline}}
{{/ukSection}}

{{/inline}}
{{/main}}