{{#> main}}
{{#*inline "main"}}

<div class="uk-text-center">
	{{#> ukContainer size="large"}}
		{{#*inline "out"}}
			<h2 class="uk-text-uppercase">Why not catch birds?</h2>
		{{/inline}}
	{{/ukContainer}}
</div>

{{#> ukSection size="xsmall"}}
	{{#*inline "out"}}

		<p class="uk-text-lead">Scotland’s islands are rich in habitats, on holms, cliffs, and beaches. People relied on seabirds’ meat and eggs for food to extend their limited resources. Varied geography meant some districts harvested birds and eggs that other places did not.</p>

		<p>People ate the meat and eggs and used feathers for bedding and fishing lures. At Pabbay, near Harris, puddings made from seafowl fat were towed behind a boat’s stern so the oily surface quelled breaking water. Bird fat was used as a wound dressing for people or livestock, and North Rona people paid rent with smoked wildfowl.</p>

		<p>St Kilda was famed for birds, and people relied on them as others did on fish. Islanders made bait from puffins and lamp oil from fulmars. They made sewing thread from feathers, and shoes from gannets.</p>

	{{/inline}}
{{/ukSection}}


{{#> ukSection size="large" class="card-images"}}
	{{#*inline "out"}}

		{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-bottom" dataUkGrid="masonry: true"}}
			{{#*inline "cells"}}

			{{#each page.posts}}
				{{#with this}}
					<div>
						{{> card type="post"}}
					</div>
				{{/with}}
			{{/each}}

			{{/inline}}
		{{/ukGrid}}

	{{/inline}}
{{/ukSection}}

<div class="horizontal-container">
	{{#> ukContainer size="xsmall"}}
		{{#*inline "out"}}
			<h2 class="uk-text-uppercase uk-text-center">Old Stories</h2>
		{{/inline}}
	{{/ukContainer}}

	<div class="uk-position-relative uk-width-1-1 horizontal-holder">

		<div class="horizontal-sticky">
			<div class="horizontal-inner">
				<div class="horizontal-cards">

					{{#each page.quotes}}
						{{#with this}}
							<div>
								{{> card type="post"}}
							</div>
						{{/with}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

{{#> ukSection size="xsmall"}}
	{{#*inline "out"}}

		<p class="uk-text-lead">Fowling was in harmony with ecology; it continued for thousands of years, and birds remained plentiful. From around 1800 things became commercialised; visiting naturalists collected species for stuffing, and amongst Orkney exports were pens, down, feathers</p>

		<p>After a century of destruction, laws came to protect birds, especially the Wild Birds Protection Order 1902 and the Protection of Birds Act 1954. Today, overfishing, pollution, and habitat loss are new threats to birds.</p>

		<p>Shetland, Orkney, and Hebridean fowling was dying-out before any legislation. As island culture changed, culture drew nearer to outside society, where eating birds and eggs wasn’t mainstream. Also, prosperity meant folk didn’t need to catch wildfowl. Fowling still continues in Faroe, and islanders consider it more ethical to eat birds that haven’t lived their lives like battery hens.</p>

	{{/inline}}
{{/ukSection}}

{{#> ukSection size="large" class="card-images"}}
	{{#*inline "out"}}

		{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-bottom" dataUkGrid="masonry: true"}}
			{{#*inline "cells"}}

			{{#each page.postsSecond}}
				{{#with this}}
					<div>
						{{> card type="post"}}
					</div>
				{{/with}}
			{{/each}}

			{{/inline}}
		{{/ukGrid}}

	{{/inline}}
{{/ukSection}}

{{#> ukSection size="small"}}
	{{#*inline "out"}}

		<div class="responsive vm">
			<iframe src="https://player.vimeo.com/video/63655754?dnt=1&app_id=122963" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen" allowfullscreen title="Placeholder visual blip"></iframe>
		</div>

	{{/inline}}
{{/ukSection}}

{{#> ukSection size="small"}}
	{{#*inline "out"}}

	{{#> ukGrid class="uk-grid-large uk-flex uk-child-width-1-2@s uk-margin-bottom"}}
		{{#*inline "cells"}}

		{{#each page.postsStories}}
			{{#with this}}
				<div>
					{{> card type="post"}}
				</div>
			{{/with}}
		{{/each}}

		{{/inline}}
	{{/ukGrid}}

	{{/inline}}
{{/ukSection}}

{{/inline}}
{{/main}}