.audio {
    border: 1px solid $global-color;

    * {
        font-size: .88888rem;
        letter-spacing: 0-.02em;
        line-height: 1.5;
    }

    &-wrapper {
        background-color: $global-color;

        * {
            color: $white;
            fill: $white;
        }
    }

    &-player {
        min-height: 65px;
        height: 100%;
        padding-left: $global-small-margin;
        padding-right: $global-small-margin;

        button {
            display: block;
            outline: none;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
        }
    }

    &-time {
        width: 100px;
    }

    &-seek {
        max-width: 40%;

        &-dot {
            background-color: $white;
            height: 10px;
        }

        &-bar {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: rgba($white, .3);
        }
    }

    &-play {
        height: 25px;
        width: 15px;
        margin-right: $global-small-margin;
        position: relative;

        span {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 14px;
            border-color: transparent transparent transparent $white;
            display: block;
            transition: $transition;
            pointer-events: none;

            &::before {
                position: absolute;
                right: 0;
                width: 5px;
                height: 12px;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                background-color: $white;
                content: '';
                transition: $transition;
            }
        }

        @include hover {
            >span {
                border-color: transparent transparent transparent rgba($white, .9);
            }
        }

        &.pause {
            span {
                border-width: 6px 0 6px 5px;
                border-color: $white;

                &::before {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    &-sound {
        width: 24px;
        height: 24px;
        position: relative;
        margin-left: $global-small-margin;

        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(40deg) scale(0);
            background-color: $white;
            content: '';
            width: 2px;
            height: 24px;
            transition: $transition;
        }

        svg {
            width: 20px;
            height: 22px;
            fill: $white;
            pointer-events: none;
        }

        @include hover {
            svg {
                fill: rgba($white, .5);
            }
        }

        &.mute::before {
            transform: translate(-50%, -50%) rotate(40deg) scale(1);
        }
    }

    &-description {
        padding: $global-margin;
    }

    @media (min-width: $breakpoint-small) {
        &-player {
            padding-left: 34px;
            padding-right: 30px;
        }

        &-seek {
            max-width: 280px;
        }

        &-play {
            width: 24px;
            margin-right: $global-margin;

            span {
                border-width: 12px 0 12px 25px;

                &::before {
                    width: 8px;
                    height: 16px;
                }
            }

            &.pause span {
                border-width: 8px 0 8px 8px;
            }
        }

        &-sound {
            margin-right: $global-margin;
        }
    }

    @media (min-width: $breakpoint-medium) {
        &-description {
            padding: $global-medium-margin + 10;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        >.uk-flex {
            flex-direction: column;

            img {
                width: 100%;
            }
        }
    }
}