.banner {
	padding-top: $global-gutter;
	margin-bottom: $global-large-margin;

	.uk-container-large {
		z-index: 2;
	}

	.uk-container-xsmall {
		margin-top: -$global-large-gutter + 5px;
		z-index: 1;

		>div>span {
			font-size: .78rem;
			line-height: 1.5;
			letter-spacing: -.02em;
			position: relative;

			&::before {
				position: absolute;
				height: 1px;
				background-color: $global-color;
				content: '';
				width: $global-medium-margin;
				display: block;
			}

			&:first-of-type {
				padding-right: 2 * $global-gutter;
				margin: $global-margin + 5 0 $global-small-margin;

				&::before {
					display: none;
				}

				>span {
					font-family: $font-heavy;
					font-weight: $medium;
				}
			}

			&:last-of-type {
				padding-left: 2 * $global-gutter;

				&::before {
					left: 0;
					top: $global-small-margin;
				}
			}
		}

		.uk-text-large {
			margin-bottom: 8px;
		}
	}

	@media (min-width: $breakpoint-small) {
		.uk-container-xsmall {
			margin-top: -$global-xlarge-margin + 40;
		}

		.uk-text-large {
			font-size: $global-xlarge-font-size;
			margin-bottom: $global-margin;
		}
	}

	@media (min-width: $breakpoint-medium) {
		margin-bottom: $global-xlarge-margin;
		padding-top: $global-large-margin + 25;

		.uk-container-xsmall {
			margin-top: -$global-xlarge-margin + 30;
		}
	}

	@media (min-width: 1400px) {
		.uk-container-xsmall {
			>div>span {
				position: absolute;
				top: 50%;

				&:first-of-type {
					right: 100%;
					margin: 0;

					&::before {
						display: block;
						right: $global-small-margin;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				&:last-of-type {
					left: 100%;
					width: 200px;

					&::before {
						left: $global-small-margin;
					}
				}
			}
		}
	}

	@media (min-width: $breakpoint-small-max) and (max-width: $breakpoint-medium-max) {
		h1 {
			font-size: 12.3rem;
		}
	}

	@media (min-width: $breakpoint-xsmall-max) and (max-width: $breakpoint-small-max) {
		h1 {
			font-size: 8.8rem;
		}
	}
}