.horizontal {
    &-container {
        position: relative;
        width: 100%;
        min-height: 520px;

        h2:last-of-type {
            display: none;
        }
    }

    &-sticky {
        width: 100%;
    }

    &-stop {
        display: none;
    }

    @media (min-width: $breakpoint-large) {
        &-stop {
            height: 1px;
            position: absolute;
            top: 68%;
            display: block;
            right: 0;
            width: 1px;
            background-color: transparent;
            pointer-events: none;
        }

        &-sticky {
            position: sticky;
            top: 320px;
            height: 520px;
            overflow-x: hidden;
        }

        &-inner {
            position: absolute;
            height: 100%;
            will-change: transform;
            padding-left: 85vw;
        }

        &-cards {
            position: relative;
            height: 100%;
            padding: 0 0 0 150px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    @media (max-width: $breakpoint-medium-max) {
        &-cards {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            margin-bottom: $global-medium-margin;
        }
    }

    @media (max-width: $breakpoint-xsmall-max) {
        &-cards {
            padding: 0 20px;
        }
    }
}