@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .banner .uk-container-xsmall>div>span:first-of-type {
        width: 85px;
    }

    .card {
        &-post {
            .uk-card-media-top h3 {
                bottom: 0;
            }
        }

        &-story .uk-card-body {
            padding: 50px;
        }
    }

    .uk-navbar-nav>li>a {
        transition: $transition;

        @include hover {
            color: rgba($global-color, .85);
        }
    }
}