//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
	background-image: url('data:image/svg+xml;utf8,'+ $icon);
	background-repeat: no-repeat;
}

// Hover
@mixin hover {

	&:hover,
	&:focus,
	&:active,
	&.uk-open,
	&.uk-active {
		@content;
	}
}

// Image caption
@mixin image-caption {
	font-size: 0.8rem;
	padding: $global-small-margin;
	text-align: center;
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
	@include bg-icon($icon);
	content: '';
	background-size: contain;
	display: inline-block;
}

// Truncate text
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//Prevent resizing textarea
@mixin hook-form-misc {
	.uk-textarea {
		min-height: 300px;
		min-width: 100%;
	}
}

// Page Colours
@mixin page-colours($peat: $warning,
	$whaling: $off-white,
	$birds: $success,
	$default: $secondary,
	$property: background-color) {
	#{$property}: $default;

	&.page-default {

		.uk-button-default,
		.uk-icon-button {
			@include hover {
				color: $default;

				svg {
					fill: $default;
				}
			}
		}
	}

	&.page-peat {
		#{$property}: $peat;

		.uk-button-default,
		.uk-icon-button {
			@include hover {
				color: $peat;

				svg {
					fill: $peat;
				}
			}
		}
	}

	&.page-whaling {
		#{$property}: $whaling;

		.uk-button-default,
		.uk-icon-button {
			@include hover {
				color: $whaling;

				svg {
					fill: $whaling;
				}
			}
		}
	}

	&.page-birds {
		#{$property}: $birds;

		.uk-button-default,
		.uk-icon-button {
			@include hover {
				color: $birds;

				svg {
					fill: $birds;
				}
			}
		}
	}
}

@mixin draw-line-animation {
	position: relative;

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width: 1px;
		background-color: $global-color;
		height: 0;
		transition: .5s ease-in;
		content: '';
	}

	&.line-draw-animation::before {
		height: 111px;
	}
}


//
// UIkit
// https://github.com/uikit/uikit/tree/develop/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';
@import 'uikit/section';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';

// Utilities
@import 'uikit/text';