.footer {
	padding: 170px 0 20px;

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width: 1px;
		background-color: $global-color;
		height: 0;
		transition: .5s ease-in;
		content: '';
	}

	&.line-draw-animation::before {
		height: 111px;
	}

	.uk-text-small {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 600;
		letter-spacing: .1em;

		&::before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			height: 1px;
			background-color: $global-color;
			bottom: -14px;
			width: 40px;
			transition: $transition;
		}

		@include hover {
			text-decoration: none;

			&::before {
				width: calc(100% - 80px);
			}
		}
	}

	.islands {
		margin-bottom: $global-large-gutter + $global-margin;
	}

	.contact {
		margin-bottom: $global-medium-margin + $global-small-margin;
	}

	.social {
		a {
			width: 56px;
			height: 56px;
			border: 1px solid $global-color;
			border-radius: 0;
			z-index: 1;
		}
	}

	.partners {
		>span {
			font-size: 16px;
			margin-bottom: $global-control-small-height;
			line-height: 1;
		}

		img {
			height: 78px;
			width: auto;
		}
	}

	&-bottom {
		margin: $global-medium-margin + 10 0 0;

		* {
			font-size: 13px;
			line-height: 1.5;
		}
	}

	@media (min-width: $breakpoint-small) {
		padding: 170px 0 30px;

		.islands a {

			&::before {
				bottom: -8px;
			}
		}

		.contact {
			margin-bottom: $global-medium-margin + $global-margin;

			.uk-button {
				margin-right: $global-medium-margin;
				padding-top: 18px;
				padding-bottom: 18px;
			}
		}

		&-bottom {
			margin: $global-large-margin 2 * $global-control-small-height 0;
		}
	}

	@media (max-width: $breakpoint-xsmall-max) {
		h2 {
			margin-bottom: 53px;
		}

		.islands a {
			margin-bottom: $global-medium-gutter + 12;
		}

		.contact {
			flex-direction: column;

			>div {
				width: 100%;
			}

			.uk-button {
				margin-bottom: $global-small-margin;
			}
		}

		&-bottom {
			flex-direction: column;
		}
	}

	@media (max-width: $breakpoint-mobile) {
		font-size: 0.8rem;
	}

	.legal {

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;

				&::after {
					content: '|';
					color: $light-grey;
					display: inline-block;
					padding: 0 $global-small-margin;
				}

				&:last-child::after {
					content: '';
					padding: 0;
				}
			}
		}

		@media (max-width: $breakpoint-xsmall-max) {
			margin: $global-margin 0;
			width: 100%;

			ul {
				display: flex;
				justify-content: center;

				li a {
					font-size: 12px;
				}
			}
		}
	}
}